version: "3"

services:
  nestjs:
    build: .
    ports:
      - "4000:4000"
      - "5555:5555"
    volumes:
      - ./:/home/node/app

  mongo:
    # image: bitnami/mongodb:5.0.17
    image: bitnami/mongodb:4.4.15-debian-10-r8
    volumes:
      - mongodb_data:/bitnami/mongodb
    ports:
      - '27017:27017'
    environment:
      - MONGODB_USERNAME=root
      - MONGODB_ROOT_PASSWORD=root
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_KEY=123456
      - MONGODB_DATABASE=nest

  redis:
    image: redis:6.2.13-alpine
    # image: redis:7.0.8-alpine

volumes:
  mongodb_data:
    driver: local